# Configuración de la Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sistema dht 2
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui

# Clave secreta para sesiones de Flask (Cambiar por algo seguro)
FLASK_SECRET_KEY=clave_super_secreta_para_flask_2026

# Configuración del Puerto Serial de Arduino
SERIAL_PORT=COM5
SERIAL_BAUDRATE=9600
